table {
    width: 100%;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
}


  th, td {
    border: 3px solid black;
  }

  .btnTambah, .btnEdit {
  background-color: #046aaa;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  #Edit {
    border: 2px solid black;
    background-color: #e3e3e3; 
    border-radius: 3px;
    padding: 15px;
    width: 35%;
  }

  input[type=text] {
    border: 2px;
    width: 350px;
    padding: 5px;
    margin: 8px;
    border-radius: 4px;
  }

  input[type=button]{
    background-color: #0496ff;
    color:aliceblue;
    width: 90px;
  }

  #Tambah{
    border: 2px solid black;
    background-color: #e3e3e3; 
    border-radius: 3px;
    padding: 15px;
    width: 35%;
  }
body {

}